/* roots and customs */
:root {
  --clr-primary: rgb(228, 228, 228);
  --ff-primary: "Big Shoulders Stencil Display", cursive;
  --ff-accent: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--clr-primary);
  background-image: linear-gradient(
    to top left,
    rgb(63, 41, 41),
    black,
    rgb(77, 77, 77)
  );
  background-size: auto;
  font-family: var(--ff-accent);
}
main {
  width: 100%;
  display: flex;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats {
  background-image: linear-gradient(
    to top,
    rgb(63, 41, 41),
    black,
    rgb(77, 77, 77)
  );
  box-shadow: 5px 5px 10px rgb(209, 209, 209);

  font-family: var(--ff-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 15px 15px 15px;
  border-top: solid rgb(63, 55, 55) 2px;
  border-right: solid rgb(202, 202, 202) 2px;
  border-bottom: solid rgb(202, 202, 202) 2px;
  border-left: solid black 2px;
  border-radius: 10px;
}
.stats-title {
  border-radius: 10px 10px 0 0;
  padding: 5px 0;
  text-align: center;
  width: 246px;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.stat-row {
  font-size: 1.5em;
  margin-bottom: 10px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
#start {
  margin-top: 20px;
  padding: 5px 20px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px blanchedalmond;
  background-image: linear-gradient(to top, black, rgb(77, 77, 77));
  box-shadow: 2px 2px 5px white;
  border-radius: 30px;
  color: red;
  font-family: var(--ff-primary);
  font-size: 2rem;
  cursor: pointer;
}
.noStart {
  visibility: hidden;
}
#start:hover {
  background-image: linear-gradient(to bottom, black, rgb(77, 77, 77));
}
.console-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.console {
  background-color: black;
  box-shadow: 0 0 20px 10px rgb(155, 155, 155);
  border-radius: 50%;
  display: grid;
  grid-template-columns: 200px 200px;
  width: 400px;
  height: 400px;
  margin-left: 80px;
}

.btn {
  cursor: pointer;
  opacity: 0.8;
}
.green,
.red,
.yellow,
.blue {
  transition: transform 0.15s ease-in-out;
}
.green {
  background-color: rgb(2, 196, 2);
  border-radius: 100% 10px 10px 10px;
  border: solid black 5px;
  box-shadow: inset 1px 1px 5px rgb(2, 216, 2), inset -1px -1px 10px black;
}

.red {
  background-color: red;
  border: solid black 5px;
  box-shadow: inset 1px 1px 5px rgb(224, 126, 126), inset -1px -1px 10px black;
  border-radius: 10px 100% 10px 10px;
}

.blue {
  background-color: blue;
  border: solid black 5px;
  border-radius: 10px 10px 100% 10px;
  box-shadow: inset 1px 1px 5px rgb(81, 149, 252), inset -1px -1px 10px black;
}
.yellow {
  background-color: yellow;
  border: solid black 5px;
  border-radius: 10px 10px 10px 100%;
  box-shadow: inset 1px 1px 5px rgb(248, 248, 131), inset -1px -1px 10px black;
}

.green-letter {
  color: rgb(0, 199, 0);
}
.red-letter {
  color: red;
}
.blue-letter {
  color: blue;
}
.yellow-letter {
  color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white, inset 1px 1px 5px rgb(75, 73, 73);
  opacity: 1;
  transform: scale(1.05);
}
.player-pressed {
  box-shadow: inset 1px 1px 15px 5px rgb(75, 73, 73);
  opacity: 1;
  transform: scale(0.95);
}
/* navbar css */
.navbar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  justify-content: flex-start;
  align-items: center;
}

#home {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: 1.5rem;
  text-decoration: none;
}
#home:hover {
  color: rgb(2, 196, 2);
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  cursor: pointer;
}
#themes {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: 1.5rem;
  text-decoration: none;
}
#themes:hover {
  color: rgb(2, 196, 2);
}
.menu {
  background-color: grey;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.singleTheme {
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(51, 51, 51),
    rgb(114, 114, 114)
  );
}
#runeTheme {
  color: gold;
}
#simonTheme {
  letter-spacing: 1px;
  color: cyan;
  border: solid 1px white;
}
#threeTheme {
  color: magenta;
}
/* fab is FA icon class */
.fab {
  margin-top: 20px;
  color: rgb(2, 196, 2);
  cursor: pointer;
  transition: 0.3s;
}

.fab:hover {
  color: blue;
}
/* footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #dcdcdc;
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  color: #dcdcdc;
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  /* text-decoration: none; */
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}
/* footer end */
@media screen and (max-width: 1000px) {
  .main-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  main {
    flex-direction: column;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(
      to bottom,
      rgb(66, 40, 40),
      rgb(20, 17, 17)
    );
  }
  .navbar .fab {
    display: none;
    margin-top: 0;
  }

  #home {
    letter-spacing: 2px;
    padding: 0;
    align-self: center;
    font-size: 1.5rem;
  }
  .fab {
    font-size: 1.5rem;
  }
  .container {
    justify-content: flex-start;
    padding: 10px 0 0 0;
    margin-top: 0;
  }
  .stats {
    margin-top: 20px;
    width: 250px;

    padding: 10px 5px 15px 5px;
  }
  .stats-title {
    position: absolute;
    visibility: hidden;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .stat-row {
    font-size: 1em;
  }
  #title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 25px;
  }
  #start {
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .console {
    grid-template-columns: 150px 150px;
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
  .console-row {
    flex-direction: column-reverse;
  }
}
