/* roots and customs */
:root {
  --clr-primary: rgb(228, 228, 228);
  --ff-primary: "Big Shoulders Stencil Display", cursive;
  --ff-accent: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--clr-primary);
  background-image: linear-gradient(
    to top left,
    rgb(63, 41, 41),
    black,
    rgb(77, 77, 77)
  );
  background-size: auto;
}
.container {
  height: 100vh;
  /* margin-top: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stats {
  background-image: linear-gradient(
    to top,
    rgb(63, 41, 41),
    black,
    rgb(77, 77, 77)
  );
  box-shadow: 5px 5px 10px rgb(209, 209, 209);

  font-family: var(--ff-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 250px; */

  padding: 0 15px 15px 15px;
  border-top: solid rgb(63, 55, 55) 2px;
  border-right: solid rgb(202, 202, 202) 2px;
  border-bottom: solid rgb(202, 202, 202) 2px;
  border-left: solid black 2px;
  border-radius: 10px;
}
.stats-title {
  border-radius: 10px 10px 0 0;
  padding: 5px 0;
  text-align: center;
  width: 246px;
  /* background-color: rgb(77, 77, 77); */
  font-size: 2.5em;
  margin-bottom: 10px;
}
.p {
  color: red;
}
.l {
  color: rgb(31, 226, 31);
}
.a {
  color: yellow;
}
.y {
  color: rgb(53, 53, 255);
}
.e {
  color: red;
}
.r {
  color: rgb(31, 226, 31);
  margin-right: 10px;
}
.s {
  color: yellow;
}
.t {
  color: blue;
}
.aa {
  color: red;
}
.tt {
  color: rgb(31, 226, 31);
}
.ss {
  color: yellow;
}
.stat-row {
  font-size: 1.5em;
  margin-bottom: 10px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
#start {
  margin-top: 20px;
  padding: 5px 20px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px blanchedalmond;
  /* border: solid 4px var(--clr-primary); */
  background-image: linear-gradient(to top, black, rgb(77, 77, 77));
  box-shadow: 2px 2px 5px white;
  border-radius: 30px;
  color: red;
  font-family: var(--ff-primary);
  font-size: 2rem;
  cursor: pointer;
}
.noStart {
  visibility: hidden;
}
#start:hover {
  background-image: linear-gradient(to bottom, black, rgb(77, 77, 77));
}
.console-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.console {
  position: relative;
  background-color: black;
  box-shadow: 0 0 20px 10px rgb(155, 155, 155);
  /* box-shadow: 10px 10px 15px rgb(99, 99, 99); */
  border-radius: 50%;
  display: grid;
  grid-template-columns: 200px 200px;
  width: 400px;
  height: 400px;
}

.btn {
  cursor: pointer;
  opacity: 0.8;
}
.green,
.red,
.yellow,
.blue {
  transition: transform 0.15s ease-in-out;
}
.green {
  background-color: rgb(2, 196, 2);
  border-radius: 100% 10px 10px 10px;
  border: solid black 5px;

  /* border-right: solid rgb(1, 77, 1) 3px;
  border-bottom: solid rgb(1, 77, 1) 3px; */
  box-shadow: inset 1px 1px 5px rgb(2, 216, 2), inset -1px -1px 10px black;
}

.red {
  background-color: red;
  border: solid black 5px;
  /* box-shadow: inset 1px 1px 15px 5px rgb(122, 1, 1); */
  box-shadow: inset 1px 1px 5px rgb(224, 126, 126), inset -1px -1px 10px black;
  border-radius: 10px 100% 10px 10px;
}

.blue {
  background-color: blue;
  border: solid black 5px;

  border-radius: 10px 10px 100% 10px;
  /* border-top: solid black 2px;
  border-left: solid black 2px; */
  box-shadow: inset 1px 1px 5px rgb(81, 149, 252), inset -1px -1px 10px black;
}
.green-letter {
  color: green;
}
.red-letter {
  color: red;
}
.blue-letter {
  color: blue;
}
.yellow-letter {
  color: yellow;
}
.yellow {
  background-color: yellow;
  border: solid black 5px;

  border-radius: 10px 10px 10px 100%;
  /* border-top: solid black 2px;
  border-right: solid black 2px; */
  box-shadow: inset 1px 1px 5px rgb(248, 248, 131), inset -1px -1px 10px black;
}
.pressed {
  box-shadow: 0 0 20px white, inset 1px 1px 5px rgb(75, 73, 73);
  opacity: 1;
  transform: scale(1.05);
}
.player-pressed {
  /* border: none; */
  box-shadow: inset 1px 1px 15px 5px rgb(75, 73, 73);
  opacity: 1;
  transform: scale(0.95);
}
/* navbar css */
.social-links {
  /* background-color: white; */
  width: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
#home {
  font-family: var(--ff-accent);
  color: var(--clr-primary);
  padding: 0 5px;
  align-self: flex-end;
  font-size: 1.5rem;
  text-decoration: none;
}
#home:hover {
  color: rgb(2, 196, 2);
}
/* fab is FA icon class */
.fab {
  color: rgb(2, 196, 2);
  cursor: pointer;
  transition: 0.3s;
}

.fab:hover {
  color: blue;
  /* opacity: 0.7; */
}
/* footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #dcdcdc;
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  color: #dcdcdc;
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  /* text-decoration: none; */
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}
/* footer end */
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .social-links {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
